body {
	background-color: black;
	color: white;
	overflow-x: hidden;
	overflow-y: hidden;
}

.title {
	font-size: 24;
	color: rgba(255,255,255,0.5);
}

#eq{
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.7;
}

.status{
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	padding-top: 20px;
}

#status-ready{
	opacity: 0;
}


#debug{
	display: none;
	position: fixed;
	left:0;
	top:0;
}
#top-icon{
	display: none;
}

#nav{
	position: fixed;
	text-align: center;
	vertical-align: middle;
	top:-10px;
	right:5%;
	width:5%;
	height: 7%;
	background: rgba(255,255,255,0.1);
	border-radius: 10px;
    border-bottom: 2px solid rgba(255,255,255,0.2);
    color: rgba(205,205,255,0.6);
    min-width: 40px;
    min-height: 40px;
    max-width: 70px;
    max-height: 50px;
}

#nav:hover{
	background: rgba(255,255,255,0.2);
	color: rgba(205,205,255,0.75);
}

#nav .info{
	padding-top: 18px;	
}

.display-none{
	display:none;
}

.display-block{
	display:block;
}